:root {
  --black-color: #242424;
  --wh-color: #ffffff;
  --tx-color: #9b9b9b;
  --line-color: #9b9b9b83;
  --bg-light-color: #f8f9fb;

  --font-Poppins: "Poppins", sans-serif;
  --font-size: 14px;

  --border-radius: 8%;
  --gap-number: 32px;
}

/* Reset */

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* structure */

body {
  font-family: var(--font-Poppins);
  color: var(--tx-color);
  font-size: var(--font-size);
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-light-color);
}

.container-fluid {
  width: 100vw;
  margin-left: 60px;
}

/* aside */
aside {
  width: 60px;
  background: var(--wh-color);
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 180px;
}

aside a {
  height: 60px;
  color: var(--tx-color);
  text-decoration: none;
  display: block;
  background: transparent;
  width: 100%;
  text-align: center;
  line-height: 70px;
}

aside a:hover {
  cursor: pointer;
  color: var(--black-color);
  background: var(--wh-color);
}

aside a.active {
  background: var(--bg-light-color);
  color: var(--black-color);
}

/* header */
header {
  height: 80px;
  padding: 0 96px 0 var(--gap-number);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--black-color);
  font-weight: bold;
}

header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header .menu a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: bold;
  margin: 0 8px;
}

header .menu a:hover,
header .menu a:active,
header .menu a.active {
  text-decoration: none;
  border-bottom: 1px solid var(--black-color);
}

/* user  */

.user-loged .user {
  padding: 1px 0 1px 10px;
  line-height: 30px;
  border-radius: var(--border-radius);
  z-index: 200;
  color: var(--black-color);
  text-decoration: none;
}

.user-loged .user .user-photo {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: var(--border-radius);
  margin-left: 10px;
}

/* filters */
.filters {
  height: 80px;
  padding: 0 96px 0 var(--gap-number);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* search */
.search {
  background-color: var(--wh-color);
  border-radius: var(--border-radius);
  display: flex;
  padding: 8px 16px;
}

.search input[type="text"] {
  font-family: var(--font-Poppins);
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 12px;
  color: var(--tx-color);
}

.search input[type="text"]:active,
.search input[type="text"]:focus {
  outline: 0;
}
/* categorys */
.categorys {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding-left: 16px;
}

.categorys a {
  text-decoration: none;
  color: var(--tx-color);
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  margin: 0 8px 0 0;
  border-radius: 20px;
  border: 1px solid var(--line-color);
}

.categorys a:hover {
  background-color: #f1f1f1;
  color: var(--black-color);
}

/* contents */
.contents {
  padding: var(--gap-number) 96px 0 var(--gap-number);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--gap-number);
}

/* box */
.box {
  margin: 8px;
  padding: 16px;
  height: 300px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  background-color: var(--wh-color);
  color: var(--tx-color);
  display: block;
  text-decoration: none;
  transition: all 0.2s;
}

.box:hover {
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.box .img-principal {
  border-radius: var(--border-radius);
  width: 50%;
  height: 30%;
  object-fit: cover;
}

.box h1 {
  color: var(--black-color);
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box p {
  height: 75px;
  font-size: 12px;
  line-height: 15px;
  overflow: hidden;
}

.box .objetive {
  font-size: 12px;
}

.box .objetive strong {
  color: var(--black-color);
}

.box .objetive .ps-slider {
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
}

.box .objetive .ps-perce {
  width: 10%;
  height: 3px;
  background-color: var(--black-color);
  margin-top: -2px;
}

.box .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.box .footer > span {
  font-size: 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--line-color);
  padding: 0 5px;
}

.box .footer .users-pic {
  border-radius: var(--border-radius);
  width: 50%;
  text-align: right;
  padding-top: 7px;
}

.box .footer .users-pic > img {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border: 1px solid var(--bg-light-color);
  margin-left: -10px;
}
